html{
    scroll-behavior: smooth;
    font-family:'Courier New' ;
}

body{ 
    background-color: violet;
    text-align:center;
}

h1{
    font-weight:10000;
    font-size:90px;
    color: purple;
}

ul { 
    list-style-type:none;
    padding: 0;	
}

li{
    font-size:28px ;
}

p{
    font-size:28px;
}

.image-contatainer{
    width: 50%;
    margin: 50px auto;
}

#image-2{
    margin: 75px 0;
}

img{
    width: 70%;
}

a{
    text-decoration:none ;	
    color:black;
    background-color: darkred;
    border: 3px solid black;
    padding: 10px 25px;
    margin: 0 25px;
    border-radius:60px  ;
    transition-duration:.2s;
}

a:hover{
    color: white;	
    border: 3px solid white;
    transition-duration: .2s;
}